<div style="margin: 20px; font-family: sans-serif;">
  <h2>Employee Directory (Week 6 & 7)</h2>
  <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeesList">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.department }}</td>
      </tr>
    </tbody>
  </table>
</div>